<div class="c-services"  id="services">
    <div class="l-container">
        <header class="c-services__header  align-center">
            <h1><span class="ruled-heading">Services</span></h1>
            <p class="lead">This is what we do.</p>
        </header>
        <ul class="c-services__list">
            <li class="c-services__item">
                <h3><span class="text-ruled">Roofing</span></h3>
                <svg viewBox="0 0 96 46">
                    <use xlink:href="#roof"></use>
                </svg>
                <p class="lead">This is a brief description of this service.</p>
            </li>
            <li class="c-services__item">
                <h3><span class="text-ruled">Architectural Metalwork</span></h3>
                <svg viewBox="0 0 100 85">
                    <use xlink:href="#metalwork"></use>
                </svg>
                <p class="lead">This is a brief description of this service.</p>
            </li>
            <li class="c-services__item">
                <h3><span class="text-ruled">Decoarating</span></h3>
                <svg viewBox="0 0  94 81">
                    <use xlink:href="#decorating"></use>
                </svg>
                <p class="lead">This is a brief description of this service.</p>
            </li>
            <li class="c-services__item">
                <h3><span class="text-ruled">General Building Work</span></h3>
                <svg viewBox="0 0 96 47">
                    <use xlink:href="#bricks"></use>
                </svg>
                <p class="lead">This is a brief description of this service.</p>
            </li>
        </ul>
    </div>
</div>