.c-portfolio {
    padding-top: space(xl);
    padding-bottom: space(xl);
}
.c-portfolio__list {
    @extend %list--unstyled;
}
.c-portfolio__item {
    width: 50%;
    float:left;
    padding: 0 0.75em;
    margin-bottom: 1.5em;
    cursor: pointer;
    @include bp(lg){
        width: 25%;
    }
    img {
        width: 100%;
    }
}

.c-portfolio__header {
    margin-bottom: space(l)
}