.c-strip {
    background-color: color(neutral--lightest);
    background-image:url(../img/arrows.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: space(xl);
    padding-bottom: space(xl);
}