<div class="c-strip" id="about">
    <div class="l-container  l-container--flex">
        <div class="l-third">
            <h3><span class="ruled-heading">About us</span></h3>
            <p class="lead">This is an example sentence or two introducing us.</p>
        </div>
        <div class="l-two-thirds">
            <p></p>Dui himenaeos sem nascetur sociis aliquet vehicula, cras tempus per lacinia rutrum, imperdiet in consectetur lectus habitasse. Ornare consectetur enim at rhoncus luctus nulla phasellus, ad amet ultricies lacinia senectus sociosqu, dictumst lorem felis libero aenean primis. Ullamcorper accumsan porttitor lacinia rutrum convallis cubilia vitae platea, vivamus ultricies nascetur rhoncus volutpat nullam nec, purus nulla taciti sit suscipit hendrerit dapibus. Porta euismod rhoncus cubilia suspendisse eget cursus nunc congue nisi, nam elementum sit placerat sodales vel egestas.</p>
            <p>Posuere rutrum laoreet vivamus dapibus sociis lacus malesuada arcu sociosqu, sit felis etiam iaculis sapien tincidunt purus quisque semper, ad adipiscing suspendisse conubia lacinia tellus sed magna. Condimentum eu praesent etiam elementum litora facilisis nisi varius enim, nullam metus augue nascetur accumsan volutpat maecenas pharetra dictumst, dui id vitae auctor tincidunt ullamcorper odio rutrum.</p>
        </div>
    </div>
</div>