@import './node_modules/slick-carousel/slick/slick.scss';


.carousel__wrapper {
    position: relative;
}

.carousel__words-wrapper{
    position: absolute;
    color: white;
    top: 2em;
    left: 0;
    width: 100%;
}

.carousel__words {
    max-width: 20em;
}
.carousel {
    width: 100%;
    height: 100vh;
    background-color: color(neutral--darkest);
    color:white;
}

.carousel__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel .slide {width: 100%; height: 100%;}

.carousel .slick-dots {
    bottom: 20px;
    margin-left: 0; /* Fixes the visible horizontal scroll bar */
  }

  .slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 1px solid white;
    outline: none;
    background: rgba(color(neutral), 0.7);
    transition: all 0.2s;
    border-radius: 50%;
}

.slick-dots li button:hover,
.slick-dots li button:focus,
.slick-dots li.slick-active button
{
    opacity: 1;
    outline: none;
    background: rgba(color(primary), 0.7);

}

.slick-list,
.slick-track,
.carousel__item {
    height: 100vh;
}
.slick-arrow {
    display: none!important;
}