<div class="carousel__wrapper">
    <div class="carousel">
        <div class="carousel__item" style="background-image: url(https://c1.staticflickr.com/5/4713/40140778431_f6133b0638_h.jpg)"></div>
        <div class="carousel__item"  style="background-image: url(https://c1.staticflickr.com/5/4724/40140777321_39d7c9bcd1_k.jpg)"></div>
    </div>
    <div class="carousel__words-wrapper">
        <div class="l-container">
            <h1 class="carousel__words"><span class="text-ruled">Specialist in roofing and construction services including loft conversion, extensions and residential and commercial refurbishments.</span></h1>
        </div>
    </div>
</div>
